/* 나눔고딕  font-family: 'nanumgothic'; -L / -R / -B / -B */
/* 나눔스퀘어  font-family: 'NanumSquare';  -R / -B / -B */

/*헤더*/
th{
    position: relative;
    text-align: left;
}

.popup_table {    
	width: 100%;
    margin-bottom: 10px;
}

.popup_table .form-control{
    height: 25px;
    padding:5px;
}

.popup_table th,.popup_table td{
	padding:5px;
    font-size: 12px;
}

.popup_table th,
.popup_table td{
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.popup_table th {
    background: #eee;
    font-weight: 600;
    color: #555555;
    padding: 10px 15px;
}

.popup_table th:first-child,
.popup_table td:first-child, 
.modalpopup table tbody th:first-child,
.modalpopup table tbody td:first-child {
    border-left: 1px solid #dbdbdb;
}

.popup_table span.input-group-btn button {
	height: 25px;
	line-height: 15px;
}

/* 테이블 더보기 start */
a.tbody_more_btn {
    display: inline-block;
    width: 40px;
    height: 20px;
    background: url('../img/svg/down-arrow.svg') no-repeat 50% 50%;
    background-size: 40px 20px;
    transform: rotate(0deg);
    
}

a.tbody_more_btn:hover {
    opacity: 0.5;
}

a.tbody_more_btn.on {
    transform: rotate(180deg);
}
/* 테이블 더보기 end */

/* 추가 삭제 버튼 start */
.add_btn{
	float: right; padding: 3px;
}

.add_btn a{
    display:inline-block;
    width: 40px; height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #dbdbdb; 
    color: #444;  
    background: #ffffff;
    box-shadow: 1px 1px rgba(0,0,0,0.15);
    cursor: pointer;
}
    
.add_btn a:hover {
    border: 1px solid #dbdbdb;
    color: #444;
    background: #dddddd;
    box-shadow: none;
}

.delete_btn {
	height: 25px; 
	line-height: 15px;
}
/* 추가 삭제 버튼 end */

/* modal start */
.ax-modal-body {
	overflow: auto !important;
    padding: 0 10px !important;
}
/* modal end */

/*admin_sub_menu*/

.nav.nav-sidebar.menu li .admin_sub_menu.on{display: block;} 
.admin_sub_menu{display: none; position:relative; top: 0px; left: 0; min-width: 150px; height:auto; width: auto; line-height: 25px; padding: 20px 15px; border-radius:0; background: #ffffff; opacity: 0.95;}


.admin_sub_menu dl dd {line-height: 36px; padding: 0 0 0 20px;}
.admin_sub_menu dl dd a{color: #444444; font-weight: normal; font-size: 14px;}
.admin_sub_menu dl dd a:hover{font-weight: bold;}
dl{margin-bottom: 0 !important;}



/* table thead border:none */
table.popup_table thead th,table.popup_table thead td{
    /*border:none !important;      thead 선 전체 지울시 */
    font-size: 14px;
    font-weight: bold;
    background: #dddddd;
    
    border-left: none !important; /*  border-right: none !important; thead 선 칸 사이 지울시 */
}
table.popup_table tbody{border-top: 1px solid #dbdbdb;}

/* hit */
table th.hit::before ,
table th.hit::before{ content: "*"; position: absolute; display: inline-block; color: #ff0000; left: 7px; font-size: 12px;}


/* 정렬 */
.tl {text-align:left !important}
.tc {text-align:center !important}
.tr {text-align:right !important}

.fl {float:left !important}
.fr {float:right !important}

.clr {clear:both !important;}
.hidden {display:none !important;}
.block {display:block !important;}
.inline {display:inline-block !important;}
.flex {display: flex}


/* 달력 간격값 210215 수정 추가 */
.date_input{width: 100%; }
/* .date_input > input[type="date"]{width: calc(40% - 15px);} */
.date_input > span{margin: 0 15px; font-size: 16px; color: #666666;}
.date_input .input_calendar{background-color: #fff; width: calc(45% - 15px) !important; }
.input_calendar{background-color: #fff; width: 100% !important; background:url("../img/svg/calendar-alt-regular.svg") no-repeat 95% 50%; background-size: 13px 13px; cursor: pointer; border: none !important;}

.input_calendar:focus{border: none !important;}
input.input_calendar:focus {outline:none;}

/* 부트스트랩 데이트픽커 */
.datepicker.datepicker-dropdown{width: 200px !important;}




/* 조직도 팝업 */

/* 검색바 */
.search_form{position: relative; height: 30px;  border-radius: 5px; font-size: 14px; padding: 0; overflow: hidden;}
.search_form input{display: inline-block;  width: 100% !important; padding: 5px  0  5px 5px; border-radius: 0; background: none !important; border: solid 1px #e6e6e6; border-radius: 5px;  vertical-align: top;}
.search_form a{ position: absolute; right: 0; display: inline-block; width: 30px; height: 30px;}
.search_form button{  position: absolute; right: 0; display: inline-block !important; min-width: 30px !important; height: 30px !important; padding:0 !important; background:none !important; border-radius: 0px !important;}
.search_form .i_search_w{display: inline-block; background:url("../img/svg/search.svg") no-repeat 50% 50%; background-size: 18px 18px; width: 30px; height: 28px; margin: 0 auto; opacity: 0.5; }
		 
body, input, textarea, select, button, table, h1, h2, h3, h4, h5, h6 { font-size: 12px; letter-spacing: 0;}
.jstree-default .jstree-icon:empty {width: 24px; height: 24px; line-height: 21px;}
    
