@charset "UTF-8";
@import url("notosanskr.css");

 * {
    box-sizing: border-box;
}

html, body {width:100%; height:100%; margin:0; padding:0;}

/* 폰트 기본설정 */  /* 폰트 기본설정 수정 210128 */
body{font-family:  "Noto Sans KR", Arial , "dotum", sans-serif; color: #444444;}
body, input, textarea, select, button, table, h1, h2, h3, h4, h5, h6{font-size: 12px; line-height:1.25em ; letter-spacing:0}

/* HTML Default */
article, aside, figcaption, figure, footer, header, hgroup, nav, section {display:block}
mark{background:#FF0;color:#000}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, article, aside, hgroup, header, footer, figure, figcaption, nav, section, i { margin:0; padding:0; border:0; }

blockquote, q { quotes:none; }
blockquote:before, blockquote:after,q:before, q:after { content:''; }

input{box-sizing: border-box; border: 0}
input[type=text]{appearance:none;-webkit-appearance:none;-moz-appearance:none;}
input[type=text]::-ms-clear{display:none;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{appearance:none;-webkit-appearance:none;-moz-appearance:none;}
input:focus {outline: none;}

a {text-decoration:none; color: inherit; cursor:pointer;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:active {text-decoration:none; outline: none;}
a:hover {text-decoration:none;}
a:focus {text-decoration:none;}

button { margin:0; padding:0; border:0; font:inherit; color:inherit; background:transparent; overflow:visible; cursor:pointer; line-height:1; }
button::-moz-focus-inner { margin: -1px; padding: 0; }
button:focus{outline: none;}

table {border-collapse:collapse; border-spacing:0; width:100%}
table {border-spacing:0;border:0 none;table-layout:fixed;border-collapse:separate;*border-collapse:collapse;width:100%;}
table, th, td{word-break:break-all;}
caption {display:none}

h1, h2, h3, h4, h5 {font-weight:normal;  }
img, select, input, button {vertical-align:middle}
input, select { color:inherit; font:inherit; line-height:100%; }
textarea { resize:none; font:inherit; overflow-y:auto; box-sizing: border-box; }
html {-webkit-text-size-adjust:none; -moz-text-size-adjust:none; -ms-text-size-adjust:none; text-size-adjust:none}
.hid, legend, hr {position:absolute; left:-10000%; top:0; overflow:hidden; width:1px; height:1px; font-size:0; line-height:0; text-indent:-10000px}
caption {visibility:hidden; overflow:hidden; width:0; height:0; font-size:0; line-height:0}
body {word-break:break-all; -webkit-text-size-adjust:none}
ul, ol, li, figure {list-style-type:none;}
cite, blockquote {display:block; font-style:normal}
figcaption { display:none}
i{font-style: normal}
.blind {display:block; overflow:hidden; position:absolute; top:0; left:0; width:0 !important; min-width:0 !important; height:0; border:0; background:0 0; font-size:0; line-height:0}

.no_wrap {white-space:nowrap}
.ell_txt {text-overflow:ellipsis; white-space:nowrap; overflow:hidden}
/* 선제거 */
.border_none{ border:none !important}
table.border_none,table.border_none th ,table.border_none td{border:none !important}

.clearfix:after {display:block; visibility:hidden; clear:both; height:0; content:''}
.clearfix {*zoom:1}
.upper-case { text-transform: uppercase !important; } /* 대문자 */

.lower-case { text-transform: lowercase !important; } /* 소문자 */


/* 정렬 */
.tl {text-align:left !important}
.tc {text-align:center !important}
.tr {text-align:right !important}

.fl {float:left !important}
.fr {float:right !important}

.clr {clear:both !important;}
.hidden {display:none !important;}
.block {display:block !important;}
.inline {display:inline-block !important;}
.flex {display: flex}

/* 공간(여백) */
.space10 {clear:both; position:relative; width:100%; height:10px;}
.space20 {clear:both; position:relative; width:100%; height:20px;}
.space30 {clear:both; position:relative; width:100%; height:30px;}
.space40 {clear:both; position:relative; width:100%; height:40px;}
.space50 {clear:both; position:relative; width:100%; height:50px;}
.space60 {clear:both; position:relative; width:100%; height:60px;}
.space70 {clear:both; position:relative; width:100%; height:70px;}
.space80 {clear:both; position:relative; width:100%; height:80px;}
.space90 {clear:both; position:relative; width:100%; height:90px;}
.space100 {clear:both; position:relative; width:100%; height:100px;}

/* letter-spacing */
.let09 {letter-spacing:-0.09em !important;}
.let{letter-spacing:-1px !important;}
.let1{letter-spacing:1px !important;}
.let3{letter-spacing:3px !important;}

/* 마진값 */
.mg0 { margin:0 !important}
.mg5 { margin:5px !important}
.mg10 { margin:10px !important}
.mg15 { margin:15px !important}
.mg20 { margin:20px !important}
.mg30 { margin:30px !important}
.mg40 { margin:40px !important}
.mg50 { margin:50px !important}
.mg100 { margin:100px !important}

.mgt0 { margin-top:0 !important}
.mgt5 { margin-top:5px !important}
.mgt10 { margin-top:10px !important}
.mgt15 { margin-top:15px !important}
.mgt20 { margin-top:20px !important}
.mgt30 { margin-top:30px !important}
.mgt40 { margin-top:40px !important}
.mgt50 { margin-top:50px !important}
.mgt100 { margin-top:100px !important}
.mgt200 { margin-top:200px !important}

.mgb0 { margin-bottom:0 !important}
.mgb5 { margin-bottom:5px !important}
.mgb10 { margin-bottom:10px !important}
.mgb15 { margin-bottom:15px !important}
.mgb20 { margin-bottom:20px !important}
.mgb30 { margin-bottom:30px !important}
.mgb40 { margin-bottom:40px !important}
.mgb50 { margin-bottom:50px !important}
.mgb100 { margin-bottom:100px !important}
.mgb200 { margin-bottom:200px !important}

.mgl0 { margin-left:0 !important}
.mgl5 { margin-left:5px !important}
.mgl10 { margin-left:10px !important}
.mgl15 { margin-left:15px !important}
.mgl20 { margin-left:20px !important}
.mgl30 { margin-left:30px !important}
.mgl40 { margin-left:40px !important}
.mgl50 { margin-left:50px !important}

.mgr0 { margin-right:0 !important}
.mgr5 { margin-right:5px !important}
.mgr10 { margin-right:10px !important}
.mgr15 { margin-right:15px !important}
.mgr20 { margin-right:20px !important}
.mgr30 { margin-right:30px !important}
.mgr40 { margin-right:40px !important}
.mgr50 { margin-right:50px !important}


/* 패딩값 */
.pd0 { padding:0 !important}
.pd5 { padding:5px !important}
.pd10 { padding:10px !important}
.pd15 { padding:15px !important}
.pd20 { padding:20px !important}
.pd30 { padding:30px !important}
.pd40 { padding:40px !important}
.pd40 { padding:40px !important}
.pd50 { padding:50px !important}

.pdt0 { padding-top:0 !important}
.pdt5 { padding-top:5px !important}
.pdt10 { padding-top:10px !important}
.pdt15 { padding-top:15px !important}
.pdt20 { padding-top:20px !important}
.pdt30 { padding-top:30px !important}
.pdt40 { padding-top:40px !important}
.pdt50 { padding-top:50px !important}

.pdb0 { padding-bottom:0 !important}
.pdb5 { padding-bottom:5px !important}
.pdb10 { padding-bottom:10px !important}
.pdb15 { padding-bottom:15px !important}
.pdb20 { padding-bottom:20px !important}
.pdb30 { padding-bottom:30px !important}
.pdb40 { padding-bottom:40px !important}
.pdb50 { padding-bottom:50px !important}

.pdl0 { padding-left:0 !important}
.pdl5 { padding-left:5px !important}
.pdl10 { padding-left:10px !important}
.pdl15 { padding-left:15px !important}
.pdl20 { padding-left:20px !important}
.pdl30 { padding-left:30px !important}
.pdl40 { padding-left:40px !important}
.pdl50 { padding-left:50px !important}

.pdr0 { padding-right:0 !important}
.pdr5 { padding-right:5px !important}
.pdr10 { padding-right:10px !important}
.pdr15 { padding-right:15px !important}
.pdr20 { padding-right:20px !important}
.pdr30 { padding-right:30px !important}
.pdr40 { padding-right:40px !important}
.pdr50 { padding-right:50px !important}

.dp_b{display:block}
ul.dp_b li{display:block}

.dp_ib{display: inline-block}
ul.dp_ib li{display: inline-block; vertical-align: middle;}

/*vertical-align*/
.va_t{vertical-align: top}
.va_m{vertical-align: middle}
.va_b{vertical-align: bottom}

/*overflow*/
.of_a{overflow:auto !important}
.of_h{overflow:hidden !important}
.of_i{overflow:inherit !important}
.of_s{overflow:scroll !important}
.of_v{overflow:visible !important}

.ofx_a{overflow-x:auto !important}
.ofx_h{overflow-x:hidden !important}
.ofx_i{overflow-x:inherit !important}
.ofx_s{overflow-x:scroll !important}
.ofx_v{overflow-x:visible !important}

.ofy_a{overflow-y:auto !important}
.ofy_h{overflow-y:hidden !important}
.ofy_i{overflow-y:inherit !important}
.ofy_s{overflow-y:scroll !important}
.ofy_v{overflow-y:visible !important}

/* width % 크기 */
.w10{width: 10%;}
.w20{width: 20%;}
.w30{width: 30%;}
.w33{width: 33%;}
.w40{width: 40%;}
.w50{width: 50%;}
.w60{width: 60%;}
.w70{width: 70%;}
.w80{width: 80%;}
.w90{width: 90%;}
.w100{width: 100%;}


/* 폰트 컬러 */
.fc_w{color: #fff !important;}
.fc_b{color: #444 !important;}

/* 컬러 BG */
.bg_w {background:#fff !important; }
.bg_gl {background:#aaaaaa !important; }
.bg_r {background:#ed2224 !important; }
.bg_b {background:#003c63 !important; }
.bg_g {background:#00c1b8 !important; }
.bg_y {background:#fffc0d  !important; }
.bg_gray {background:#909090 !important; }

/* 폰트 사이즈 */
.fs-12 { font-size: 12px !important; }
.fs-13 { font-size: 13px !important; }
.fs-14 { font-size: 14px !important; }
.fs-15 { font-size: 15px !important; }
.fs-16 { font-size: 16px !important; }
.fs-18 { font-size: 18px !important; }
.fs-24 { font-size: 24px !important; }
.fs-30 { font-size: 30px !important; }

/* 공통 설정값 */


/* 인풋 */
input{/*min-width: 170px; max-width: 200px;*/ height: auto; border: solid 1px #e6e6e6; border-radius: 5px; font-size: 13px; padding: 1px;}

/* 셀렉트 */
select{height: auto; border: solid 1px #e6e6e6; border-radius: 5px; font-size: 13px; padding: 1px;}
select option{padding: 5px;}

/* 버튼 */
button{  min-width: 40px; height: 30px; line-height: 20px; padding: 5px 15px; color: #ffffff; background: #3860f8; border-radius:15px ; }

button i{margin-right:3px;}

button:hover{opacity: 0.7;}
button:active{opacity: 1;}

button+button{margin-left:5px;}

a:hover{opacity: 0.7;}
a:active{opacity: 1;}

a+a{margin-left: 5px;}

    /* 검색바 */
    .search_form{position: relative; height: auto;  border-radius: 5px; font-size: 13px; padding: 0; overflow: hidden;}
    .search_form input{display: inline-block;  width: 100% !important; padding: 1px; border-radius: 0; background: none !important; border: solid 1px #e6e6e6; border-radius: 5px;  vertical-align: top;}
    .search_form a{ position: absolute; right: 0; display: inline-block; width: 30px; height: 100%;}
    .search_form button{  position: absolute; right: 0; display: inline-block !important; min-width: 30px !important; height: auto !important; padding:0 !important; background:none !important; border-radius: 0px !important;}
    .search_form .i_search_w{display: inline-block; background:url("../img/svg/search.svg") no-repeat 50% 50%; background-size: 18px 18px; width: 30px; height: 100%; margin: 0 auto; opacity: 0.5; }

		 
.no_bg{background: none !important; box-shadow: none !important;}


select:disabled, input:disabled {background: #dddddd !important;}

select[disabled] {background: #dddddd !important;}

input[type=checkbox] {width: 13px  !important;}

input:read-only, textarea:read-only{border: none !important; background: #ffffff !important; box-shadow:none !important}

input[readonly], textarea[readonly]{border: none !important; background: #ffffff !important; box-shadow:none !important}

input[disabled] {background: #dddddd !important;}

/* 20210412 수정 th.hit+td red */
table th.hit+td select,
table th.hit+td input,
table th.hit+td .search_form,
td.hit select,
td.hit input,
td.hit .search_form{
    border: 1px solid #ff6161 !important;
    border-color: #ff6161 !important;
}


table th.hit+td select[readonly],
table th.hit+td input[readonly],
td.hit select[readonly],
td.hit input[readonly]{
    border: 1px solid #ff6161 !important;
    border-color: #ff6161 !important;
}

table th.hit+td select:read-only,
table th.hit+td input:read-only,
td.hit select:read-only,
td.hit input:read-only{
    border: 1px solid #ff6161 !important;
    border-color: #ff6161 !important;
}


table th.hit+td .search_form > input,
td.hit .search_form > input{border: none !important;}