/* 나눔고딕  font-family: 'nanumgothic'; -L / -R / -B / -B */
/* 나눔스퀘어  font-family: 'NanumSquare';  -R / -B / -B */

/*헤더*/
#head_area{position: fixed; display: block; 
	width: 210px; height:100%; 
	padding: 50px 0 0 20px;
	/* box-shadow:1px 0px 7px rgba(0,0,0,0.3) ; */
	background: linear-gradient(to bottom, #3154d6 , #0b2c8e); 
	z-index: 99; }

/* LOGO */
#head_area h1.logo{position: relative; width: 145px; height: 35px; margin: 0 10px; text-align: center;}
#head_area h1.logo img{width: 100%; height: auto;}
#head_area h1.logo a{position: absolute; top: 0; bottom: 0; left: 0; width: 100%;}

/* 메뉴 */
#menu_area{position: relative; margin-top: 65px; z-index: 100;}

#menu_area ul.menu{
	height: 540px;
}

#menu_area ul.menu li{height: 60px; padding: 10px; font-size: 16px; color:#ffffff !important; opacity: 0.55; cursor:pointer;}

#menu_area ul.menu li:hover, #menu_area ul.menu li.on:hover,#menu_area ul.menu li a:hover, #menu_area ul.menu li.on a:hover{opacity: 0.95;} 
#menu_area ul.menu li.on{opacity: 1; }
#menu_area ul.menu li.on>a{font-family: "Noto Sans KR"; font-weight: bold;}
#menu_area ul.menu li:active{opacity: 1; }


#menu_area ul.menu li img{width: 25px; height: 25px; fill: #ffffff; margin-right: 10px;}
#menu_area ul.menu li > a{vertical-align: top; line-height: 27px;  color:#ffffff !important; }

#menu_area ul.menu li+li{margin-top: 0px;}

#menu_area ul.menu li:hover .sub_menu/*, #menu_area ul.menu li.on:hover .sub_menu*/{display: block;} 
.sub_menu{display: none; position: absolute; top: 0px; left: 190px; min-width: 170px; height: 100%; width: auto; line-height: 25px; padding: 20px 15px; border-radius:0 20px 20px 0; background: #ffffff; box-shadow:1px 0px 7px rgba(0,0,0,0.2) ;z-index: 100;}
/* .sub_menu::before{content: ""; position: absolute; left: -20px; width: 20px; height: 30px; background: #ffffff; }
.sub_menu:hover:before{opacity: 1 !important;} */

.sub_menu dl dd {line-height: 36px; }
.sub_menu dl dd a{color: #444444; font-weight: normal; font-size: 14px;}
.sub_menu dl dd a:hover{border-bottom: solid 1px #444444;}


.menu_off{     
	position: fixed; width: 15px; height: 100%;   
	box-shadow: 5px 0px 7px rgba(0,0,0,0.3); background: linear-gradient(to bottom, #3154d6 , #0b2c8e);
	opacity: 0.8;
    top: 0;
    left: 210px;
	z-index: 98;}
	
.menu_off:hover{background:#0b2c8e;}
	
	a.off_btn{display: block; width: 100%; height: 100%; opacity: 0.6;}
	
	a.off_btn:hover{opacity:1;}
	.off_btn::before{content: ""; position: absolute; display: block; top: calc(50% - 10px); width: 15px; height: 15px; background: url('../img/svg/arrow_w.svg') no-repeat 50% 50%; transform: rotate(90deg);}


#head_area.off{display: none;}

#head_area.off+.menu_off{left: 0;}
#head_area.off+.menu_off .off_btn::before{ transform: rotate(270deg);}