/* 나눔고딕  font-family: 'nanumgothic'; -L / -R / -B / -B */
/* 나눔스퀘어  font-family: 'NanumSquare';  -R / -B / -B */

/*메인 html*/
/* html, body {width:100%; height:100%; margin:0; padding:0;  background: #f6f8fb; } */

/*메인*/
#login {
    position: relative;
    top: calc(50% - 370px);
    width: 1200px;
    height: 740px;
    border-radius: 30px;
    margin: 0 auto;
    background: url(../img/Login_bg.png) no-repeat 100% 0% #ffffff;
    box-shadow: 2px 0 7px rgba(0, 0, 0, 0.15);
}

/* 로고 */
.logo {
    width: 250px;
    height: 55px;
    margin: 0 auto;
}

.logo img {
    width: 100%;
    height: 100%;
}

/* 로그인 영역 */
.login_box {
    width: 560px;
    padding: 140px 95px;
}

.login_box h2 {
    color: #384557;
    font-size: 50px;
    font-family: 'NanumSquare-B';
    margin: 85px 0 10px;
}

.login_box ul {
    margin-top: 5px;
}

.login_box ul li+li {
    margin-top: 20px;
}

.login_box input {
    width: 100%;
    height: 45px;
    border: solid 1px #e6e6e6;
    border-radius: 5px;
    font-size: 17px;
    padding: 10px;
}

/* 버튼 */
.login_box button {
    width: 100%;
    height: 58px;
    border-radius: 10px;
    font-size: 25px;
    padding: 10px;
    margin-top: 60px;
    font-weight: bold;
    color: #ffffff;
    background: #3860f8;
    box-shadow: 1px 0 7px rgba(0, 0, 0, 0.1);
}

.login_box button:hover {
    opacity: 0.7;
}

.login_box button:active {
    opacity: 1;
}



/*사이즈 조절*/
/* 
@media screen and (max-width:1280px) { 
    #login{position: relative; top: calc(50% - 330px); width: 1000px; height: 660px; border-radius: 30px;  margin: 0 auto; 
        background: url(../img/Login_bg.png) no-repeat 120% 100% #ffffff; 
        background-size: auto 660px;
        box-shadow: 2px 0 7px rgba(0,0,0,0.15);}

    .login_box{width: 510px; padding: 115px 75px;}

    .login_box h2{color: #384557; font-size: 50px; font-family: 'NanumSquare-B'; margin: 75px 0 20px; }
    .login_box ul{margin-top: 5px;}

    .login_box ul li+li{margin-top: 10px;}
}

@media screen and (max-height:600px){
    .login_box h2{font-size: 0px; margin: 75px 0 20px; }
    #login{top:0}
} */


#mobile_login {
    position: relative;
    height: 100vh;
    background: url(/static/img/Login_bg_GUN.png) no-repeat 50% 120px;
    background-size: auto 100%;
}

/* #mobile_login::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 30vh;
    bottom: 0;
    background: #ffffff;
    z-index: 0;
} */

#mobile_login .login_box {
    position: fixed;
    width: 100%;
    padding: 20px 30px;
    left: calc(50%);
    top: 0;
    background: #ffffff;
    z-index: 1;
    transform: translateX(-50%);
}
.mobile_footer{    
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    text-shadow: 1px 1px #000;
    background: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,70%));
    padding-bottom: 15px;
}

#mobile_login .logo {
    width: 165px;
    margin-top: 30px;
    margin-bottom: 35px;
}

#mobile_login .logo img {
    width: 100%;
    height: auto;
}

#mobile_login .login_box ul li+li {
    margin-top: 10px;
}

#mobile_login .login_box button {
    height: 50px;
    font-size: 18px;
    font-weight: normal;
    margin-top: 15px;
}