/* 나눔고딕  font-family: 'nanumgothic'; -L / -R / -B / -B */
/* 나눔스퀘어  font-family: 'NanumSquare';  -R / -B / -B */

/*메인 공통 설정*/
html,
body {
    width: 100%;
    height: 100%;
    min-width: 1280px;
    margin: 0;
    padding: 0;
    min-height: 740px;
    background: #f6f8fb;
    overflow: hidden;
}

/* 메인 상단영역 */
#top_area {
    position: absolute;
    width: calc(100% - 225px);
    min-width: 800px;
    margin-left: 225px;
    height: 45px;
    padding: 0 5px;
    line-height: 45px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 97;
}

#top_area.on {
    width: calc(100% - 15px);
    margin-left: 15px;
}

.location {
    display: inline-block;
    font-size: 16px;
    color: #999999;
    line-height: 45px;
}

.page_tit {
    color: #444;
    font-weight: bold;
}


#top_area .btn_area {
    float: right;
    font-size: 13px;
}

#top_area .btn_area button+button {
    margin-left: 5px;
}

.logout_btn {
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.1);
}

/*메인*/
#main_area {
    position: absolute;
    width: calc(100% - 225px);
    margin-left: 225px;
    height: calc(100% - 44px);
    top: 44px;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

#main_area.on {
    width: calc(100% - 15px);
    margin-left: 15px;
}

/* 검색 */
/* .contents.search_area{position: relative; width: 100%; z-index: 1;} */

/* 검색 */
.search_contents {
    width: 100%;
    /* border-top: solid 1px #f0f0f0;*/
}

ul.btn_ul li {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
}

ul.btn_ul li+li {
    margin-left: 5px;
}

ul.btn_ul input {
    width: 100%;
}

ul.btn_ul select {
    width: 100%;
}

ul.btn_ul li.btn_r {
    float: right;
}

ul.btn_ul li.btn_l {
    float: left;
}

/* 검색 상세조건 */
.search_contents_bottom {
    width: 100%;
    border-top: solid 1px #f0f0f0;
    padding-top: 15px;
    margin-top: 15px;
}

.search_option {
    display: none;
}

.search_option.open {
    display: block;
}

a.more_btn {
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background: url('../img/svg/down-arrow.svg') no-repeat 50% 50%;
    background-size: 15px 15px;
}

a.more_btn:hover {
    opacity: 0.5;
}

.more_btn.on {
    transform: rotate(180deg);
}

/* 콘텐츠 */
.contents {
    position: relative;
    width: 100%;
    min-width: 800px;
    min-height: 20px;
    padding: 3px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 3px;
}

.contents.no_bg {
    padding: 0;
    min-height: 30px;
}

/* 콘텐츠 타이틀 */
.contents_tit {
    position: relative;
    width: 100%;
    min-height: 30px;
    margin-bottom: 5px;
}

.contents_tit h4.tit {
    font-size: 18px;
    color: #444444;
    font-family: 'NanumSquare-B';
    display: inline-block;
}

.contents_tit .prae_select {
    float: right;
    max-width: 100px;
    min-width: 80px;
}

/* 인풋 테이블 */
.table_input {}

.table_input th {
    text-align: left;
    position: relative;
    color: #888888;
    font-size: 13px;
    padding: 1px 0 1px 15px;
    font-weight: normal;
}

.table_input td {
    text-align: left;
    /*padding-bottom: 15px;*/
    padding: 1px;
}

.table_input input,
.table_input select,
.table_input .search_form {
    width: 60%;
    /*  min-width: 145px;*/
    max-width: 170px;
}

.table_input tr th:nth-of-type(1) {
    width: 90px;
}

.table_input tr th:nth-of-type(2) {
    width: 90px;
}

.table_input tr th:nth-of-type(3) {
    width: 90px;
}

.table_input tr th:nth-of-type(4) {
    width: 90px;
}

.table_input tr th:nth-of-type(5) {
    width: 90px;
}

/* 인풋 테이블 2분할 */
.table_input.type02 tr td:nth-of-type(1) {
    width: 49%;
}

.table_input.type02 tr td:nth-of-type(2) {
    width: 49%;
}

/* 인풋 테이블 3분할 */
.table_input.type03 tr td:nth-of-type(1) {
    width: 32%;
}

.table_input.type03 tr td:nth-of-type(2) {
    width: 32%;
}

.table_input.type03 tr td:nth-of-type(3) {
    width: 32%;
}

/* 인풋 테이블 3분할  */
.table_input.type03-01 tr td:nth-of-type(1) {
    width: 40%;
}

.table_input.type03-01 tr td:nth-of-type(2) {
    width: 20%;
}

.table_input.type03-01 tr td:nth-of-type(3) {
    width: 20%;
}

/* 인풋 테이블 4분할 2021-02-03 박인영 추가 */
.table_input.type04 tr td:nth-of-type(1) {
    width: 23%;
}

.table_input.type04 tr td:nth-of-type(2) {
    width: 23%;
}

.table_input.type04 tr td:nth-of-type(3) {
    width: 23%;
}

.table_input.type04 tr td:nth-of-type(4) {
    width: 23%;
}

/* 리스트 */
.list_contents {
    margin: 0 0 10px;
    overflow: auto;
}

.list_contents table.table_list {
    border-collapse: collapse;
    line-height: 1.5;
}

/* 리스트 테이블 - 임시 */
table.table_list th,
table.table_list td {
    padding: 5px;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

table.table_list th:last-child,
table.table_list td:last-child {
    border-right: none;
}

table.table_list th {
    text-align: center;
    color: #ffffff;
    background: #ababab;
    font-size: 13px;
    font-weight: 400;
}

table.table_list td {
    text-align: left;
    color: #444444;
    font-size: 13px;
}

ul.ul_list {
    width: 100%;
}

ul.ul_list li {
    display: inline-block;
}

ul.ul_list.type02 li {
    width: calc(100% / 2 - 6px);
    vertical-align: top;
}

ul.ul_list.type02 li+li {
    margin-left: 5px;
}

ul.ul_list.type03 li {
    width: calc(100% / 3 - 6px);
    vertical-align: top;
}

ul.ul_list.type03 li+li {
    margin-left: 5px;
}

ul.ul_list li>div>div>div {
    width: 100%
}

/* 타이틀 */
.table_list_tit {
    width: 100%;
    margin-bottom: 5px;
}

.tit {
    display: inline-block;
    color: #444;
    font-size: 16px;
}

.table_list_tit span {
    font-size: 12px;
}

/* 하단영역 */
.contents_bottom {
    width: 100%;
    border-top: solid 1px #f0f0f0;
    padding-top: 15px;
}

/*페이징*/

.page_area {
    position: relative;
    text-align: center;
}

.page_area ul li {
    display: inline-block;
    vertical-align: top;
}

.page_area ul li:hover {
    opacity: 0.7;
}

.page_area ul li:active {
    opacity: 1;
}

.page_area ul li.on a {
    color: #3860f8;
    font-weight: bold;
}

.page_area ul li a {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    text-align: center;
    color: #5f6368;
}

.i_r-arrow {
    display: inline-block;
    background: url("../img/r-arrow.png") no-repeat;
    background-size: 100%;
    margin: 0;
    width: 35px;
    height: 35px;
}

.i_l-arrow {
    display: inline-block;
    background: url("../img/l-arrow.png") no-repeat;
    background-size: 100%;
    margin: 0;
    width: 35px;
    height: 35px;
}


.i_rr-arrow {
    display: inline-block;
    background: url("../img/rr-arrow.png") no-repeat;
    background-size: 100%;
    margin: 0;
    width: 35px;
    height: 35px;
}

.i_ll-arrow {
    display: inline-block;
    background: url("../img/ll-arrow.png") no-repeat;
    background-size: 100%;
    margin: 0;
    width: 35px;
    height: 35px;
}

/* 
@media screen and (max-width:1280px) { 
    .contents{min-width: 800px;}
    .table_input input,.table_input select{width:95%; min-width: 145px; max-width:170px;}
} */

.ax5_grid button {
    height: auto !important;
    line-height: inherit !important;
}


.ax-modal-header {
    height: 36px !important;
}

.ax5modal .ax-modal-header .ax-modal-header-addon {
    padding: 0 !important;
}

.ax-modal-header-addon button {
    color: #000000 !important;
    min-width: auto !important;
}

.glyphicon.glyphicon-search {
    min-width: auto !important;
}

/* 달력 간격값 210215 수정 추가 */
.date_input {
    width: 100%;
}

/* .date_input > input[type="date"]{width: calc(40% - 15px);} */
.date_input>span {
    margin: 0 15px;
    font-size: 16px;
    color: #666666;
}

.date_input .input_calendar {
    background-color: #fff;
    width: calc(45% - 15px) !important;
}

.input_calendar {
    background-color: #fff;
    width: 100% !important;
    background: url("../img/svg/calendar-alt-regular.svg") no-repeat 95% 50%;
    background-size: 13px 13px;
    cursor: pointer
}

/* 부트스트랩 데이터픽커 */
.datepicker.datepicker-dropdown {
    width: 200px !important;
}


/* +버튼 -버튼 2021-02-15 김대연 추가 */
.add_btn_small {
    display: inline-block;
    float: right;
    padding: 0px;
}

.add_btn_small a {
    display: inline-block;
    width: 35px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #dbdbdb;
    color: #444;
    background: #ffffff;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.15);
}


/* 이름 추가 2021-03-03 */
.name {
    display: inline-block;
    float: right;
    padding: 0 20px;
}

.name p {
    font-size: 14px;
    font-weight: bold;
}


/* 라디오박스 */
.popup_area table input[type="radio"],
.modalpopup table input[type="radio"],
input[type="radio"] {
    padding: 0px;
    margin: 0;
    width: auto;
}


.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top {
    z-index: 9999 !important;
}