/* 모바일 */

/* body#mobile  */
@media screen and (max-width:900px) {}

html,
body {
	min-width: auto;
	min-height: auto;
	max-width: 100vw;
	background: #f6f8fb;
	/* overflow: auto;
		overflow-x: hidden; */
}

#head_area {
	position: absolute;
	display: block;
	width: 100%;
	height: 55px;
	padding: 10px;
	box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.3);
	background: #ffffff;
	z-index: 99;
}

/* LOGO */
#head_area h1.logo {
	position: absolute;
	width: 136px;
	height: auto;
	left: calc(50% - 80px);
	top: 15px;
}

#head_area h1.logo img {
	width: 100%;
	height: auto;
}

#menu_area {
	position: fixed;
	width: 100%;
	height: calc(100vh - 55px);
	left: 0;
	top: 55px;
	margin-top: 0px;
	background: #fff;
	border-top: 1px solid #ddd;
	overflow: auto;
}

#menu_area ul.menu li {
	width: 50%;
}

#menu_area ul.menu li>a {
	color: #444 !important;
}

#menu_area img {
	display: none;
}

.sub_menu {
	left: 50%;
	width: calc(100% - 50%);
	border-radius: 0;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.left_btn {
	position: fixed;
	top: 13px;
	left: 8px;
	right: auto;
	width: 30px;
	height: 30px;
	z-index: 100;
	background: #fff;
}
.left_btn a::before{
	background-size: contain;
}

a.back_btn {
	opacity: 1;
}
.back_btn::before {    
	content: "";
    position: absolute;
    display: block;
	top: 0;
	width: 100%;
	height: 100%;
	/* background-size: 100% 100%; */
	background: url('../img/svg/back.svg') no-repeat 50% 50%;
}
a.logout_btn {
	opacity: 1;
}
.logout_btn::before {
	content: "";
    position: absolute;
    display: block;
	top: 0;
	width: 100%;
	height: 100%;
	/* background-size: 100% 100%; */
	background: url('../img/svg/power-off.svg') no-repeat 50% 50%;
}


.menu_off {
	top: 13px;
	left: auto;
	right: 8px;
	width: 30px;
	height: 30px;
	z-index: 100;
	background: #fff;
}

a.off_btn {
	opacity: 1;
}

.off_btn::before {
	transform: rotate(0) !important;
	top: 0;
	width: 100%;
	height: 100%;
	/* background-size: 100% 100%; */
	background: url('../img/svg/close.svg') no-repeat 50% 50%;
}

.menu_off,
.menu_off:hover,
.menu_off:focus {
	background-color: #fff;
	box-shadow: none;
}

#head_area.off {
	display: block;
}


#head_area.off #menu_area {
	display: none;
}

#head_area.off+.menu_off {
	left: auto;
}

#head_area.off+.menu_off .off_btn::before {
	background: url('../img/svg/menu.svg') no-repeat 50% 50%
}

#menu_area ul.menu li:hover,
#menu_area ul.menu li.on:hover,
#menu_area ul.menu li a:hover,
#menu_area ul.menu li.on a:hover {
	font-weight: bold;
}

#menu_area ul.menu li+li {
	margin-top: 0px;
}

#menu_area ul.menu li:hover .sub_menu {
	display: block;
	position: fixed;
	top: 56px;
}

#main_area {
	position: fixed;
	width: 100vw;
	margin-left: 0;
	height: calc(100% - 55px);
	top: 55px;
	padding: 15px 10px;
	overflow: auto;
}

#main_area .menu {
	z-index: 1;
}

#main_area .sub_menu {
	z-index: 2;
}

/* #top_area {
		position: relative;
		width: auto;
		min-width: auto;
		margin-left: 0;
		height: 50px;
		padding: 0 20px;
		line-height: 50px;
	} */

.contents {
	position: relative;
	width: 100%;
	min-width: auto;
	min-height: 20px;
	height: auto;
	padding: 10px;
	border-radius: 10px;
	background: #ffffff;
	margin-bottom: 15px;
	box-shadow: 1px 0px 5px rgb(0 0 0 / 15%)
}


/* 모바일 개별 설정 */
.table_input,
.table_input td,
.table_input th {
	padding: 0;
}

.table_input td+td,
.table_input th+td {
	padding-left: 5px;
}

input,
select,
.search_form,
.table_input input,
.table_input select,
.table_input .search_form {
	width: 100%;
	min-width: 100%;
	max-width: max-content;
}

.table_list {
	background: #ffffff;
}


/*  */
.mobile_menu {
	position: relative;
	width: 80vw;
	min-width: 300px;
	max-width: 400px;
	margin: 20px auto;
}

.mobile_menu li+li {
	margin-top: 20px;
}

.mobile_menu li a.btn {
	display: block;
	width: 100%;
	height: 100px;
	background: #ffffff;
	border-radius: 15px;
	padding: 20px 20px 20px 100px;
	font-size: 24px;
	line-height: 60px;
	font-weight: bold;
	text-align: center;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.mobile_menu li a.btn.type01::before {
	content: "";
	position: absolute;
	display: block;
	width: 60px;
	height: 60px;
	background: url('/static/img/svg/mobile_menu01.svg') no-repeat;
	background-size: 100% auto;
	left: 30px;
}

.mobile_menu li a.btn.type02::before {
	content: "";
	position: absolute;
	display: block;
	width: 60px;
	height: 60px;
	background: url('/static/img/svg/mobile_menu02.svg') no-repeat;
	background-size: 100% auto;
	left: 30px;
}

.mobile_menu li a.btn.type03::before {
	content: "";
	position: absolute;
	display: block;
	width: 60px;
	height: 60px;
	background: url('/static/img/svg/mobile_menu03.svg') no-repeat;
	background-size: 100% auto;
	left: 30px;
}

.mobile_menu li a.btn.type04::before {
	content: "";
	position: absolute;
	display: block;
	width: 60px;
	height: 60px;
	background: url('/static/img/svg/mobile_menu04.svg') no-repeat;
	background-size: 100% auto;
	left: 30px;
}
