/* 나눔고딕  font-family: 'nanumgothic'; -L / -R / -B / -B */
/* 나눔스퀘어  font-family: 'NanumSquare';  -R / -B / -B */
/* 팝업 */


.popup_area {
    position: relative;
    width: auto;
    min-width: 400px;
    height: auto;
    min-height: 200px;
    background: #ffffff;
    padding: 5px;
}

.popup_area .tit_contents {
    width: 100%;
    height: 40px;
    border-radius: 0;
    background-color: #304a8a;
    padding: 0 10px;
    margin-bottom: 10px;
}

.tit_contents h4.tit {
    display: inline-block;
    font-weight: bold;
    font-size: 17px;
    color: #fff;
    line-height: 40px;
    padding-left: 10px;    
}

/* 테이블 */
/* .popup_table  */
.popup_area table,
.modalpopup table,
.popup_table table {
    width: 100%;
    border-top: 1px solid #dbdbdb;
}

.popup_area table select,
.popup_area table input,
.modalpopup table select,
.modalpopup table input {
    width: 100%;
    height: auto;
    font-size: 13px;
    padding: 1px;
}

.popup_area table th,
.popup_area table td,
.modalpopup table th,
.modalpopup table td {
    padding:1px;
    font-size: 13px;
    line-height: 1.2;
}

/* 테이블 아코디언 효과 */
.popup_area table.off {border-top:1px solid #fff;}
.popup_area table thead { background: #dddddd; }
.popup_area table thead.off{background: #fff;  opacity: 0.5;}


.popup_area table thead th,
.modalpopup table thead th {
    font-size: 16px;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #999;
}

.popup_area table thead td,
.modalpopup table thead td {
    text-align: right;
    border-bottom: 1px solid #999;

}

.popup_area table tbody th,
.popup_area table tbody td,
.modalpopup table tbody th,
.modalpopup table tbody td {
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.popup_area table,
.popup_area table, 
.modalpopup table,
.modalpopup table {
    border-left: 1px solid #dbdbdb;
}


.popup_area table tbody th ,
.modalpopup table tbody th {
    /* position: relative; */
    background: #eee;
    font-weight: 600;
    color: #555555;
    padding:1px 15px;
    text-align: left;
}

/* hit */
.popup_area table tbody th.hit::before ,
.modalpopup table tbody th.hit::before ,
table th.hit::before ,
table th.hit::before{     
	position: relative;
	content: "*";
    display: inline-block;
    color: #ff0000;
    left: -10px;
    font-size: 12px;
    width: 0;
  }
  
/* 20210409 수정 th.hit+td red */
table th.hit+td select,
table th.hit+td input,
table th.hit+td .search_form,
td.hit select,
td.hit input,
td.hit .search_form{
    border-color: #ff6161;
}

a.tbody_more_btn {
    display: inline-block;
    width: 40px;
    height: 20px;
    background: url('../img/svg/down-arrow.svg') no-repeat 50% 50%;
    background-size: 40px 20px;
    transform: rotate(0deg);
    
}

a.tbody_more_btn:hover {
    opacity: 0.5;
}

.tbody_more_btn.on {
    transform: rotate(180deg);
}

/* 추가영역 */
.popup_contents {
    position: relative;
    background: #eee;
    width: 100%;
    height: auto;
    padding: 15px 10px;
    max-height: 200px;
    overflow: auto;
}

/* 하단 버튼 영역 */
.popup_bottom_btn {
    position: fixed;
    width: 100%;
    bottom: 20px;
    padding: 10px;
    font-size: 14px;
}

.popup_bottom_btn button+button {
    margin-left: 10px;
}

.popup_bottom_btn .close_btn {
    border: 1px solid #dbdbdb;
    color: #444;
    background: #ffffff;
}

.popup_bottom_btn .close_btn:hover {
    border: 1px solid #dbdbdb;
    color: #444;
    background: #dddddd;
}

/* + - 버튼 */
.add_btn{display: inline-block; float: right; padding: 3px; }

/* .in_btn .out_btn */
.add_btn a{
    display:inline-block;
    width: 20px; height: 20px;
    line-height: 18px;
    text-align: center;
    border: 1px solid #dbdbdb; 
    color: #444;  
    background: #ffffff;
    box-shadow: 1px 1px rgba(0,0,0,0.15);
}
    
.add_btn a:hover {
    border: 1px solid #dbdbdb;
    color: #444;
    background: #dddddd;
    box-shadow: none;
}


/* -------------------------------- */
/* modal-popup */
/* dim-layer */
.modalpopup_area {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.modalpopup_area .Bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.modalpopup_area.open {
    display: block;
}

.modalpopup {
    position: relative;
    min-width: 400px;
    width: auto;
    height: auto;
    min-height: 50px;
    max-height: 700px;
    background: #ffffff;
    margin: 50px auto;
    /* padding: 15px 15px 0; */
    border-radius: 15px;
    /* box-shadow: 2px 0 7px rgba(0,0,0,0.15); */
}

.modalpopup  .tit_contents {
    width: 100%;
    height: 40px;
    border-radius: 10px 10px 0 0;
    background-color: #304a8a;
    padding: 0px;
}


.pop_contents {
    width: 100%;
    height: calc(100% - 70px);
    font-size: 14px;
    padding: 10px 10px 0;
    overflow: auto;
}
.pop_contents div+div{margin-top: 10px;}
.bottom_contents {
    height: 40px;
}


.popup_list{min-height: 100px; max-height: 100px; overflow: auto; }
/* a.btn-layerClose {
    display: inline-block;
    height: 20px;
    width: 20px;
    font-size: 0;
}
a.btn-layerClose:hover{opacity: 0.5;}
a.btn-layerClose::before{
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    background: url("../img/svg/cancel.svg") no-repeat;
    background-size: 100% 100%;
    filter:opacity(0.7);
} */

.pop_btn a{padding: 5px 10px; border-radius: 5px; color: #fff;}

a.btn-layerClose {
    display: inline-block;
    height: 40px;
    padding: 0 20px 0;
    border-radius: 0 10px 0 0;
    border: 1px solid #304a8a;
    background-color: #3f5a9d;
    font-size: 13px;
    color: #fff;
    line-height: 40px;
}

a.btn-layerClose:hover {
    border: 1px solid #091940;
    background-color: #1f326a;
    color: #fff;
}

.popup_table.txt_table{height: calc(100% - 50px);}
.popup_table.txt_table table, .popup_table.txt_table form{height: 100%;}

.popup_table.txt_table table td.popup_txt{
	vertical-align: text-top; 
	padding: 10px; 
	line-height: normal;
}
.popup_table.txt_table {
    height: calc(100% - 50px);
}

.popup_table.txt_table table {
    height: 100%;
}

.popup_table.txt_table table td.popup_txt {
    vertical-align: text-top;
    padding: 10px;
    line-height: normal;
}


/* 2021-04-20 */

/* grid cell */
.grid-cell-red    { background: #ffc5c5; }
.grid-cell-blue   { background: #cceaff; }
.grid-cell-orange { background: #ff9b46; }
.grid-cell-pupple { background: #d35cff; }

/* grid font */
.grid-font-bold   { font-weight: bold; }
.grid-font-red    { color: #ff0000; }
.grid-font-red-bold { color: #ff0000; font-weight: bold; }
.grid-font-blue   { color: #3b92e0; }
.grid-font-blue-bold{ color: #1010FF; font-weight: bold; } /* ix.js(28537 line) 더블클릭 메세지 표시 */
.grid-no-msg-font-blue-bold{ color: #1010FF; font-weight: bold; }
.grid-font-orange { color: #ff9b46; }
.grid-font-pupple { color: #d35cff; }

/* grid row */
.grid-row-yellow {background: rgb(255, 255, 128) !important;}
.grid-row-orange {background: #ff9b46 !important;}
.grid-row-blue 	 {background: #cceaff   !important;}
